h1 {
    color: blue;
}
#all-departments {
    flex: 0.25;
}
#right-sub-banner {
    flex: 0.75;
}
#all-departments h4 {
    background-color: rgb(126, 173, 55);
    color: white;
    padding: 12px 14px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.hamburger-menu {
    padding-right: 10px;
}
.down-arrow {
    padding-left: 10px;
}
#banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
}
#all-categories {
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 18px;
}
#all-categories button {
    background-color: rgb(126, 173, 55);
    color: white;
    padding: 20px;
    border: none;
}
#all-categories input {
    padding: 21px;
    border: none;
    outline: 0px;
}
#all-categories, #support-container, #all-categories-support, #categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
#support-container i {
    background-color: rgb(245, 245, 245);
    color: rgb(126, 173, 55);
    padding: 20px;
    border-radius: 50%;
}
#support-container h4 {
    margin: 0px;
}
#support-container p {
    margin: 10px;
}